SERVER_ADDRESS={{ server_address }}
HTTP_PORT={{ http_port }}
OVPN_PORT={{ ovpn_port }}
OVPN_PROTOCOL={{ ovpn_protocol }}
OCSERV_PORT={{ ocserv_port }}

BRIDGE_ADDRESS={{ bridge_address }}
BRIDGE_HTTP_PORT={{ bridge_http_port }}
BRIDGE_OVPN_PORT={{ bridge_ovpn_port }}
BRIDGE_OCSERV_PORT={{ bridge_ocserv_port }}
# ADMING PASSWORD
ADMIN_PASSWORD={{ admin_password }}
OCSERV_MAX_CLIENT={{ ocserv_max_client }}
OCSERV_MAX_SAME_CLIENT={{ ocserv_max_same_client }}

### OPENVPN MONITOR CONFIG ###
OPENVPNMONITOR_DEFAULT_DATETIMEFORMAT={{ openvpnmonitor_default_datetimeformat }}
OPENVPNMONITOR_DEFAULT_LATITUDE={{ openvpnmonitor_default_latitude }}
OPENVPNMONITOR_DEFAULT_LOGO={{ openvpnmonitor_default_logo }}
OPENVPNMONITOR_DEFAULT_LONGITUDE={{ openvpnmonitor_default_longitude }}
OPENVPNMONITOR_DEFAULT_MAPS={{ openvpnmonitor_default_maps }}
OPENVPNMONITOR_DEFAULT_SITE={{ openvpnmonitor_default_site }}
OPENVPNMONITOR_SITES_0_ALIAS={{ openvpnmonitor_sites_0_alias }}
OPENVPNMONITOR_SITES_0_HOST={{ openvpnmonitor_sites_0_host }}
OPENVPNMONITOR_SITES_0_NAME={{ openvpnmonitor_sites_0_name }}
OPENVPNMONITOR_SITES_0_PORT={{ openvpnmonitor_sites_0_port }}